.contacts_wrapper {
  display: grid;
  justify-items: center;
}

.contact_items {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.button {
  margin-left: 8px;
  color: #000;
  border: none;

}

.button:hover,
.button:focus {
  color: #fff;
  background-color: #ff0000;
}
